
.rs-handle {
    background-color: transparent;
    border: 3px solid transparent;
    border-right-color: aqua;
    margin: -2px 0px 0px 0px !important;
    border-width: 2px 85px 2px 4px;
    z-index: 7;

}

.rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 11px;
    width: 11px;
    background: aqua;
    right: -5.5px;
    bottom: -5.5px;
    border-radius: 50px;
    z-index: 7;
}

.rs-tooltip {
    visibility: hidden;
}

.inputContainer {
    position: relative;

    z-index: 11;
    top: -35%;
    left: 25%;
    width: 80%;
    font-size: 20px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: darkgray;

}

.inputField {
    width: 25%;
    left: 10%;
    height: 30px;
    text-align: center;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: darkgray;
    border: 2px solid transparent;
    border-radius: 25%;
    float: left;
}

.inputTextContainer {
    width: 60%;
    height: 30px;
}

.selectControll {
    position: absolute;
    width: 50px;
    left: 20%;
    border: 2px solid darkgrey;
    text-align: center;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    border-radius: 20%

}

.rs-range-color {
    background-color: transparent

}

.rs-border {
    border: 1px solid #fff;
}

.rs-path-color {
    background-color: transparent
}

.new {
    position: relative;
    display: block;
    border-radius: 50%;
    z-index: 7;
    transform: rotate(315deg);
}

.inner {
    position: absolute;
    border-radius: 50%;
    background: white;
}

.threeFull {
    background-image: -webkit-linear-gradient(-15deg, transparent 70%, grey 30%),
    -webkit-linear-gradient(52deg, transparent 50%, orange 50%),
    -webkit-linear-gradient(75deg, transparent 50%, red 50%);
    background-image: -moz-linear-gradient(-15deg, transparent 70%, grey 30%),
    -moz-linear-gradient(52deg, transparent 50%, orange 50%),
    -moz-linear-gradient(75deg, transparent 50%, red 50%);
    background-image: -ms-linear-gradient(-15deg, transparent 70%, grey 30%),
    -ms-linear-gradient(52deg, transparent 50%, orange 50%),
    -ms-linear-gradient(75deg, transparent 50%, red 50%);
    background-image: -o-linear-gradient(-15deg, transparent 70%, grey 30%),
    -o-linear-gradient(52deg, transparent 50%, orange 50%),
    -o-linear-gradient(75deg, transparent 50%, red 50%);
    background-image: linear-gradient(-15deg, transparent 70%, grey 30%),
    linear-gradient(52deg, transparent 50%, orange 50%),
    linear-gradient(75deg, transparent 50%, red 50%);
}

.txtcontainer {
    z-index: 5;
    position: relative;
    text-align: center;
    }

div.circTxt {
    z-index: 5;
    display: inline-block;
    color: grey;
    margin-bottom: 60px
}